ul{
    list-style-type: none !important;
    margin:0 !important;
    padding:0 !important;
}
a{
    text-decoration: none !important;
}
body{
    background-color:#F6F9FF !important;
}
.container-fluid{

}
h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #1B1F43;
}
.left-sidebar{
    background-color: #fff;
    border-radius:0 35px 0 0;
    padding:31px 0 0 27px
}
.left-content{
    padding:0 0 0 27px
}
.left-content .logo{
    width:170px;
    height:64px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:#3734A9;
}
.left-content .logo h6{
    color:#fff;
    margin:0;
}
.left-content .left-content-head h6{
    margin:38px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #1B1F43;
}
.right-sidebar{
    height: 100vh;
    background: #E8F2FF;
    border-radius:0 0 0 35px;
    padding:16px 26px;
}
.right-sidebar-content{
    display:flex;
    justify-content: flex-end;
}
.right-sidebar-content img:nth-child(2){
    margin:0 25px;
}
.right-sidebar-head{
    margin:70px 0 0 0;
}
.right-sidebar-head h5{
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #282F79;
}
.right-sidebar-box{
    margin:30px 0 0 0;
    width: 270px;
    height: 189px;
    background: linear-gradient(85.29deg, #FFFFFF 20.2%, rgba(255, 255, 255, 0) 104.15%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(-5px 7px 54px rgba(113, 154, 208, 0.1));
    border-radius: 20px;

}
.group-area h6{
    margin:74px 0 32px 0;
}
.middle-content{
    margin:24px 0 0 0;
}
.middle-content input.form-control{
    max-width: 367px;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    padding:0 0 0 32px;
    color:#6E7278;
    border:0;
}
.middle-content .form-control::placeholder{
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #6E7278;
}
.middle-content-message{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.middle-content-message h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #282F79;
    margin:0;
}
.middle-content-message-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:53px 0 0 0;
}
.middle-content-message-2 h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #282F79;
    margin:0;
}
.circle-content{
    margin:53px 0 0 0;
    display: flex;
}
.circle-box{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: #3734A9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 3px 0 0;
}
.circle-box-other{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: #AFAEDD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-box-big{
    height:100% ;
    background: linear-gradient(0deg, #3734A9, #3734A9), linear-gradient(180deg, rgba(54, 54, 54, 0) 73.91%, rgba(54, 54, 54, 0.46) 105.11%), #3734A9;
    border: 4px solid #FFFFFF;
    box-shadow: -5px 7px 34px #D7DBEA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.middle-box-big .middle-head{
    position: absolute;
    bottom:13px;
    left:20px;
}
.middle-box-big .middle-head p{
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.8;
    margin: 0 0 4px 0;
}
.middle-box-big .middle-head h6{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    margin:0;
}





